@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 768px) {
  .primary-navigation {
    transition: 0.3s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    opacity: 1;
    transform: skewY(0) rotate(0) translateY(0);
    visibility: visible;
  }
  .primary-navigation[data-visible="false"] {
    opacity: 0;
    transform: skewY(-5deg) rotate(5deg) translateY(-20px);
    visibility: hidden;
  }
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
